body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#bubble {
  position: absolute;
  top: 25px;
  right: 25px;
}

.bar {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

#stackline {
  position: absolute;
  top: 25px;
  left: 25px;

}
#normline {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.x.grid line {
  stroke: lightgrey;
  stroke-opacity: 1;
  shape-rendering: auto;
}

.y.grid line {
  stroke: lightgrey;
  stroke-opacity: 1;
  shape-rendering: auto;
}


.test {
  position: absolute;
  bottom: 25px;
  right: 25px;

}

.label {
  size: 8px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-weight: bold;
  font-size: 14px;
}

.lijn {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: white;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: #BBBF95;
}

.node--leaf:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
